{{ partial "header.html" . }}

<div class="blog-post">
<h1 class="blog-post-title">{{ .Title }}</h1>
<p class="blog-post-meta">{{ if .Params.date }}{{ .Date.Format "January 02 2006" }}{{ end }}</p>

<div class="ads">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive-banner -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6474680909689206"
     data-ad-slot="8663433909"
     data-ad-format="auto"></ins>
<script>
 (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<main>
{{ .Content }}
</main>
</div>

{{ partial "footer.html" . }}
